header, footer {
    background-color: #3f4345;
    color : white;
    display : flex;
    justify-content: space-between;
    flex : 0 0 7em;
    margin: 0;
    align-items: center;
    
}

nav {
    background-color: darkgray;
    display : flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
}
 
#content {
    flex: 1;
}

a {
    color : black;
    text-decoration : none;
    margin: 1%;
}


header {
    border-bottom: 4px solid;
    border-bottom-color: grey;
}

body {
    margin : 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    
}

html {
    height: 100%;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    margin : 80px 3% 40px 3%;
    border-radius: 20px;
    padding: 40px;
}

.logo{
    margin: 1em;
    flex : 0 0 150px;
}

.logo img{
    border-radius: 10px;
}

.title {
    flex : 1;
}

.title h1, .title p{
    display: inline-block;
}

.title h1{
    margin-right: 10px;
}

.unseen{
    display: none;
}

.noMarginTop{
    margin-top: 0;
}

.login{
    flex : 0 0 35%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.login .grid{
    display : grid;
    grid-template: 1fr 1fr 1fr / 50% 30% 20%;
    grid-auto-flow: column;
}

.errorLogin{
    grid-area: 1 / 1 / span 3 / span 1;
    align-self : center;
}

.login label:last-of-type{
    grid-row-end: span 2;
}

.register{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / auto auto;
    grid-auto-flow: column;
}

.register label:last-of-type{
    grid-row-end: span 2;
}

.noGrid{
    display: block;
}


.noMargin{
    margin: 0;
}

.errorLogin{
    width: 19em;
    color : crimson;
}

header a {
    color : whitesmoke;
    font-size: 1.1em;
    text-decoration : none;
    margin: 1%;
    margin: 0;
}

.labels{
    padding-bottom: 1.2em;
}

.pictureHome{
    display : flex;
    flex-direction: column;
    flex : 26%;
    max-width: 26%;
    background-color: lightgray;
    align-items: center;
    box-sizing: content-box;
    margin: 2%;
}

.pictureHomeContainer{
    display : flex;
    justify-content: center;
    margin : 4%;
    font-family: cursive, serif;
    font-size: larger;
    font-style: oblique;
    flex-wrap : wrap;
}

.pictureHome:nth-child(3n+2){
    flex : 36%;
    max-width: 36%;
}
.pictureHome img{
    width: 100%;
}

footer {
    border-top: 4px solid;
    border-top-color: grey;

}
img{
    max-height: 6.3em;
}
